@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html,
body {
    background-color: #1C1D20;
    margin: 0;
    font-family: "Lexend", sans-serif;
    height: 100vh;
    width: 100%;
}

.container-settings {
    display: flex;
    height: 100vh;
    width: 100%;
}

.settings {
    display: flex;
    margin: 20px 20px 20px 80px;
    height: calc(100vh - 40px);
    /* Subtract the margin space to avoid overflow */
    width: calc(100% - 100px);
    /* Adjusted dynamically for the sidebar */
    padding: 30px 40px 40px 40px;
    color: white;
    background-color: #2A2C32;
    border-radius: 45px;
    /* Rounded corners */
    overflow-y: auto;
    /* Vertical scrolling inside the dashboard */
    box-sizing: border-box;
    /* Include padding in dimensions */
}

.settings .settings-content {
    flex-grow: 1;
    /* Take the remaining space */
    padding-left: 20px;
    overflow-y: hidden;
    /* Scrollable content */
}
