.settings-button,
.delete-button {
  display: block; /* Makes each button take up its line */
}

.settings-button {
    flex-direction: column;
    background-color: #55759b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.2s ease-in-out;
}
.settings-button:hover {
    background-color: #4a6485;
}

.delete-button {
    flex-direction: column;
    background-color: #9c3737;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.2s ease-in-out;
}
.delete-button:hover {
    background-color: #7c2f2f;
}