
html, body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-primary);
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width:100%;
  overflow: hidden;
  background-color: var(--bg-primary);

}

.Routes {
  flex-grow: 1; /* Let it expand to fill available space */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if content exceeds the viewport */
}
